# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/

# IDEs
.idea/
.vscode/

# Logs and temp
*.log
*.tmp
*.swp

# OS
.DS_Store

# Large installers
Anaconda3-2023.03-Linux-x86_64.sh*
